IGNORE
.local/*
.local/cache/tangle
.state/*


!/**/.gitkeep
/.log/
/tramp
init.el
/OUTPUT/
/custom.el


### ignore nix-store controlled code
/global/packages-local/ox-ipynb.el
/global/packages-local/dart-snippets.el
/global/packages-local/snippets/dart-mode
